html {
    background-color: white;
}

body {
    border: 5px solid black;
    
}
.container
{
    display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30% 30%;
    
}

.homepage-banner{
    background-color: gray;
    font-size: xx-large;
    padding: 0 20px 20px 20px;
    margin: 5px;
    border: 1px solid white;
    
}