.header {
    display: grid;
    padding: 5px;
}

.header #title {
    font-family: "DynaPuff", system-ui;
    font-size: 128px;
    color: steelblue;
}

.brand {
    grid-row-start: 1;
}

.brand img {
    max-width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 80% 1fr;

}

.blog-container {
    display: grid;
    gap: 5%;

}

.blog-title {
    text-align: center;
}

.blog-media-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-posts {
    padding: 10px;
    background-color: bisque;
    border: 2px solid black;
}

/*
.side-panel-left {
    border: 1px solid black
}

.side-panel-right {
    border: 1px solid black
}
*/