html{
    background-color: #29450b;
}

.roulette-board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.number {
    border: solid #d1c041 2px;
}

.bets {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}