.header-container {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    background-color: azure;
    text-align: center;
    height: 75px;
}

.header-content {
    border: 1px solid black;
    font-family: "Press Start 2P";
    font-size: 60px;
}

.blog-container {
    border: 1px solid black;
    margin-top: 100px;
    display: grid;
    row-gap: 10px;
    font-family: "Syne Mono";
}

.blog-post {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 25% 70%;
}

.blog-media-container {
    border: 2px solid darkgoldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.blog-media-content {
    padding: 10px
}

.blog-media-content img {
    object-fit: cover;   
    width: 100%;
    height: 100%;
}

/*
#earth-ship {
    background-image: url('../blog/images/earth-ship.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
}

#greek-island {
    background-image: url('../blog/images/greek-island.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
}

#stealth-eden {
    background-image: url('../blog/images/stealth-eden.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red; 
}
*/