:root{ 
  background: #16171d;
  color: white;
}

#mainContext{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#sideContext{
  display: grid;
  grid-template-columns: repeat(2, 50px);
}

#day-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#dayOfWeek-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}