.header-container {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 15% 60% 25%;
}

#searchBar {
    margin-left: 120px;
}

.content-container {
    background-color: green;
    display: grid;
    grid-template-columns: 70% 30%;
}

.current-video-container {
    background-color: blue;
    border: 3px solid black;
}